<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Comment</title>
</head>
<body>
    <form action="/comments/<%= commentId %>?_method=PUT" method="POST">
        <input type="text" name="content" value="<%= commentContent %>">
        <button type="submit">Update Comment</button>
    </form>
</body>
</html>
